body {
  background-color: firebrick;
  background-image: url(74607ace448435964099d622b52fbaed.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19BEB3;
  color: #FFF;
  font-size: 1.8em; }

